/*variables*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecf2f8;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-family: "Manrope", sans-serif;
}

.container {
  overflow: hidden;
  background-color: rgb(196, 181, 181);
  width: 22em;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 24px rgba(158, 175, 194, 0.8);
          box-shadow: 0px 4px 24px rgba(158, 175, 194, 0.8);
}

.container-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 12em;
}

.container-text {
  padding: 32px 32px 0px;
}

.container-text .title {
  line-height: 22px;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 700;
  color: #48556a;
}

.container-text .text {
  margin: 12px 0 0 0;
  color: #6d7f97;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.container .info-container {
  margin: 24px 0 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 5px;
  font-size: 13px;
  height: 40px;
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.container .info-container .avatar {
  width: 40px;
  border-radius: 50%;
  -ms-grid-column: 1;
  grid-column: 1;
  -webkit-box-shadow: 2px 5px 10px #9eafc2;
          box-shadow: 2px 5px 10px #9eafc2;
}

.container .info-container-personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .info-container-personal p {
  color: #48556a;
  font-weight: 700;
}

.container .info-container-personal span {
  color: #9eafc2;
  font-weight: 500;
}

.container .info-container .share {
  position: relative;
  height: 30px;
  -ms-grid-column: 3;
  grid-column: 3;
  background-color: #ecf2f8;
  border-radius: 50%;
  place-self: center;
  display: -ms-grid;
  display: grid;
  color: #6d7f97;
}

.container .info-container .share img {
  place-self: center;
}

.container .info-container .share .tooltip-text {
  width: 27.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .info-container .share p {
  place-self: center;
  letter-spacing: 3px;
}

.container .info-container .share .tooltip-text {
  height: 60px;
  visibility: hidden;
  background-color: #48556a;
  color: #9eafc2;
  border-radius: 5px;
  font-weight: 500;
  position: absolute;
  bottom: -66%;
  left: 0%;
  margin-left: -22em;
}

.container .info-container .share:hover .tooltip-text {
  visibility: visible;
}

.attribution {
  display: block;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 1040px) {
  body {
    position: relative;
    z-index: 2;
  }
  .container {
    overflow: visible;
    width: 800px;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container-image {
    width: 300px;
    height: 300px;
  }
  .container-text {
    padding: 32px;
  }
  .container-text .title {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1px;
  }
  .container-text .text {
    font-size: 16px;
  }
  .container .info-container {
    margin-top: 32px;
    -ms-grid-columns: 1fr 70% 1fr;
        grid-template-columns: 1fr 70% 1fr;
  }
  .container .info-container .avatar {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: left;
        justify-self: left;
  }
  .container .info-container .share {
    position: relative;
    width: 30px;
    height: 30px;
    -ms-grid-column: 3;
    grid-column: 3;
    background-color: #ecf2f8;
    border-radius: 50%;
    place-self: center;
    display: -ms-grid;
    display: grid;
    color: #6d7f97;
  }
  .container .info-container .share img {
    place-self: center;
  }
  .container .info-container .share .tooltip-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .container .info-container .share p {
    place-self: center;
    letter-spacing: 3px;
  }
  .container .info-container .share .tooltip-text {
    width: 250px;
    height: 50px;
    visibility: hidden;
    background-color: #48556a;
    color: #9eafc2;
    border-radius: 5px;
    font-weight: 500;
    position: absolute;
    z-index: 10;
    bottom: 120%;
    left: 50%;
    margin-left: -125px;
  }
  .container .info-container .share .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #48556a transparent transparent transparent;
  }
  .container .info-container .share:hover .tooltip-text {
    visibility: visible;
  }
}
/*# sourceMappingURL=styles.css.map */