/*variables*/
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

$bold: 700;
$medium: 500;

$font: "Manrope", sans-serif;

* {
  // border: 1px solid red;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-grayish-blue;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: $font;
}

.container {
  overflow: hidden;
  background-color: white;
  width: 22em;
  border-radius: 10px;
  box-shadow: 0px 4px 24px rgba($color: $grayish-blue, $alpha: 0.8);
  &-image {
    object-fit: cover;
    width: 100%;
    height: 12em;
  }
  &-text {
    padding: 32px 32px 0px;
    .title {
      line-height: 22px;
      letter-spacing: 1px;
      font-size: 16px;
      font-weight: $bold;
      color: $very-dark-grayish-blue;
    }
    .text {
      margin: 12px 0 0 0;
      color: $desaturated-dark-blue;
      font-size: 13px;
      line-height: 20px;
      font-weight: $medium;
      letter-spacing: 1px;
    }
  }

  .info-container {
    margin: 24px 0 16px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 5px;
    font-size: 13px;
    height: 40px;
    align-self: center;
    justify-content: start;
    .avatar {
      width: 40px;
      border-radius: 50%;
      grid-column: 1;
      box-shadow: 2px 5px 10px rgba($color: $grayish-blue, $alpha: 1);
    }
    &-personal {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        color: $very-dark-grayish-blue;
        font-weight: $bold;
      }
      span {
        color: $grayish-blue;
        font-weight: $medium;
      }
    }
    .share {
      position: relative;
      height: 30px;
      grid-column: 3;
      background-color: $light-grayish-blue;
      border-radius: 50%;
      place-self: center;
      display: grid;
      color: $desaturated-dark-blue;

      img {
        place-self: center;
      }
      .tooltip-text {
        width: 27.2em;
        display: flex;
        justify-content: space-evenly;
      }
      p {
        place-self: center;
        letter-spacing: 3px;
      }
    }
    .share .tooltip-text {
      height: 60px;
      visibility: hidden;
      background-color: $very-dark-grayish-blue;
      color: $grayish-blue;
      border-radius: 5px;
      font-weight: $medium;
      position: absolute;
      bottom: -66%;
      left: 0%;
      margin-left: -22em;
    }

    .share:hover .tooltip-text {
      visibility: visible;
    }
  }
}

.attribution {
  display: block;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1040px) {
  body {
    position: relative;
    z-index: 2;
  }
  .container {
    overflow: visible;
    width: 800px;
    height: 300px;
    display: flex;
    &-image {
      width: 300px;
      height: 300px;
    }
    &-text {
      padding: 32px;
      .title {
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 1px;
      }
      .text {
        font-size: 16px;
      }
    }
    .info-container {
      margin-top: 32px;
      grid-template-columns: 1fr 70% 1fr;
      .avatar {
        align-self: center;
        justify-self: left;
      }
      .share {
        position: relative;
        width: 30px;
        height: 30px;
        grid-column: 3;
        background-color: $light-grayish-blue;
        border-radius: 50%;
        place-self: center;
        display: grid;
        color: $desaturated-dark-blue;
        img {
          place-self: center;
        }
        .tooltip-text {
          display: flex;
          justify-content: space-evenly;
        }
        p {
          place-self: center;
          letter-spacing: 3px;
        }
      }

      .share .tooltip-text {
        width: 250px;
        height: 50px;
        visibility: hidden;
        background-color: $very-dark-grayish-blue;
        color: $grayish-blue;
        border-radius: 5px;
        font-weight: $medium;
        position: absolute;
        z-index: 10;
        bottom: 120%;
        left: 50%;
        margin-left: -125px;
      }
      .share .tooltip-text::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: $very-dark-grayish-blue transparent transparent
          transparent;
      }

      .share:hover .tooltip-text {
        visibility: visible;
      }
    }
  }
}
